<!DOCTYPE html>
<html>
<head>
  <title>CjdFlights</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
  <%= stylesheet_link_tag    'https://code.getmdl.io/1.1.2/material.blue_grey-orange.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '/assets/components/web-animations-js/web-animations-next-lite.min.js' %>
  <%= javascript_include_tag '/assets/components/web-animations-js/web-animations.min.js' %>
  <%= html_import_tag '/assets/components/polymer/polymer' %>
  <%= html_import_tag '/assets/components/iron-icon/iron-icon' %>
  <%= html_import_tag '/assets/components/iron-icons/communication-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/device-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/editor-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/hardware-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/image-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/iron-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/maps-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/notification-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/places-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/social-icons' %>
  <%= html_import_tag '/assets/components/iron-flex-layout/iron-flex-layout' %>
  <%= html_import_tag '/assets/components/iron-flex-layout/iron-flex-layout-classes' %>
  <%= html_import_tag '/assets/components/paper-toast/paper-toast' %>
  <%= html_import_tag '/assets/components/paper-button/paper-button' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
