<!DOCTYPE html>
<html>
<head>
  <title>CjdFlights</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application' %>
  <%= html_import_tag '/assets/components/polymer/polymer' %>
  <%= html_import_tag '/assets/components/iron-icon/iron-icon' %>
  <%= html_import_tag '/assets/components/iron-icons/communication-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/device-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/editor-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/hardware-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/image-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/iron-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/maps-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/notification-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/places-icons' %>
  <%= html_import_tag '/assets/components/iron-icons/social-icons' %>
  <%= html_import_tag '/assets/components/iron-flex-layout/iron-flex-layout' %>
  <%= html_import_tag '/assets/components/iron-flex-layout/iron-flex-layout-classes' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
